/* EPFL  Jquery Mobile theme */

.ui-header .ui-btn-left
{
  color:#ffffff;
  text-decoration: none;
  font-weight: bold;
}

.ui-bar-l
{
  border: 1px solid #e2001a;
  background: #e2001a;
  color: #ffffff;
  text-shadow: none;
}

.ui-listview .ui-li-icon
{
  left: 7px;
  max-height: 27px;
  max-width: 27px;
  top: 0.5em;
}
